# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# IDEs
.vs/
.idea/

# Plugins (auto-installed, not custom)
Plugins/VisualStudioTools/
*.sln
*.suo
*.user
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Compiled source
*.lib
*.dll
*.exp
*.pdb
*.ilk

# Generated
*.generated.h

# OS
Thumbs.db
Desktop.ini
.DS_Store
